#formContainer {
  width: 500px;
}

.formComponent {
  display: flex;
}

.formComponent > * {
  flex: 1;
  margin: 5px;
  width: 50%;
}

#submitButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  #formContainer {
    width: 80vw;
  }
}