#formContainer {
  width: 500px;
}

.formComponent {
  display: flex;
}

.formComponent > * {
  margin: 5px;
  width: 50%;
}

#submitButton {
  align-items: center;
  display: flex;
  height: 21px;
  justify-content: center;
  width: 100%;
}

#submitButton.clickable:hover {
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  #formContainer {
    width: 80vw;
  }
}

#setupForm input[type="number"], #setupForm select {
  box-sizing: border-box;
}