name: Deploy

on:
  push:
    branches: [master]

jobs:
  deploy:
    uses: wjrm500/github-workflows/.github/workflows/docker-deploy.yml@master
    with:
      docker_image_tag: wjrm500/anagramageddon-frontend:latest
      docker_compose_project_name: anagramageddon
      docker_compose_file_path: /home/ServerConfig/anagramageddon-docker-compose.yml
    secrets: inherit
